:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --default-font-color: #272142;
}

body {
  font-family: var(--default-font);
  color: var(--default-font-color);
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  font-weight: 700;
  line-height: 128px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

img {
  border-radius: 14px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px;
  padding-bottom: 150px;
}

.default-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
  display: inline-block;
}

.default-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  text-decoration: none;
}

.intro-text {
  font-size: 18px;
  text-align: center;
  margin: 100px;
}

.app-info {
  margin: 20px 0px;
}

.app-heading {
  font-size: 64px;
  font-family: var(--heading-font);
  font-weight: 700;
  margin-bottom: 30px;
}

.app-text-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.7;
}

.inverse-button {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 18px 30px;
  border-radius: 4px;
  margin-top: 30px;
}

.inverse-button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.contact-me {
  margin: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  background-color: var(--primary-color);
  padding: 30px;
}
.contact-heading {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--heading-font);
}

.contact-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.7;
}

.about-hero {
  background-color: var(--primary-color);
  padding: 100px;
  padding-bottom: 150px;
}

.heading-small {
  font-size: 64px;
  line-height: 85px;
}

.about-intro-text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  opacity: 0.7;
}

.sub-heading {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  margin: 25px 0px;
}

.portrait {
  max-width: 50%;
}

.work-heading {
  margin-top: 80px;
  max-width: 70%;
}

.project-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.project-role {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  opacity: 0.7;
}

.contact-method {
  margin: 50px;
  line-height: 1px;
}

.personal-contact {
  font-size: 14px;
}

nav {
  padding: 20px 0px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-weight: 600;
}

nav a {
  color: var(--default-font-color);
  margin-left: 15px;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  text-decoration: none;
}

.logo {
  max-width: 150px;
}

.logo-small {
  display: none;
}

footer {
  margin: 50px;
}

.footer-email {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--default-font-color);
}

.footer-email:hover {
  text-decoration: none;
  color: var(--secondary-color);
}
footer {
  text-align: center;
}

footer ul {
  padding: 0;
  margin: 10px;
}

footer li {
  list-style: none;
  display: inline;
}

footer li a {
  margin: 10px;
}

.coded-link {
  opacity: 0.7;
  color: var(--secondary-color);
}

.coded-link:hover {
  text-decoration: none;
  color: var(--default-font-color);
}

@media (max-width: 576px) {
  .app-info {
    text-align: center;
    margin-bottom: 20px;
  }

  .app-heading {
    font-size: 50px;
  }

  .hero {
    padding: 50px;
  }

  h1 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 30px;
  }

  .intro-text {
    margin: 50px;
  }

  .contact-me {
    margin: 10px;
    text-align: center;
  }

  .contact-heading {
    font-size: 30px;
    line-height: 50px;
  }

  .contact-text {
    margin: 20px;
  }

  .about-hero {
    padding: 50px;
    text-align: center;
  }

  .portrait {
    max-width: 100%;
    margin-top: 30px;
  }

  .heading-small {
    font-size: 50px;
    line-height: 70px;
  }
  .work-heading {
    max-width: 95%;
    text-align: center;
  }

  .logo {
    display: none;
  }
  .logo-small {
    display: block;
    max-width: 60px;
  }

  nav li {
    font-size: 14px;
    font-weight: 500;
  }

  .footer-email {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .contact-me {
    text-align: center;
  }

  .contact-text {
    margin-bottom: 20px;
  }
}
