:root {
  --primary-color: #f9f7fe;
  --default-font: 'Poppins', sans-serif;
  --heading-font: 'Playfair Display', serif;
}

body {
  font-family: var(--default-font);
}

h1 {
  font-family: var(--heading-font);
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
}
